@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

.hotspot {
  width: 25px;
  height: 25px;
  z-index: 9999;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: pulse 1s ease-in-out alternate infinite;
  animation: pulse 1s ease-in-out alternate infinite;
}

.hotspot:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-image: url(../img/hotspot-target.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transform: translate(-50%, -50%) scale(.1);
  -ms-transform: translate(-50%, -50%) scale(.1);
  transform: translate(-50%, -50%) scale(.1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
}

.hotspot.btn-warning:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.hotspot:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-49%, -50%);
  -ms-transform: translate(-49%, -50%);
  transform: translate(-49%, -50%);
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.hotspot.btn-warning {
  background-color: #c80813;
  -webkit-animation: none;
  animation: none;
}

.hotspot.btn-primary {
  background-color: rgba(255, 255, 255, .5);
}
