/* Defining each section background and styles
* --------------------------------------- */
.section {
  background-color: black;
}

.section,
.slide {
  position: relative;
}

#section0 {
  background-size: cover;
  background-color: black;
}

#section2 #slide1 {
  background-size: cover;
  background-color: black;
  background-image: url('../img/sasol_2.jpg');
}

#section4 #slide1 {
  background-size: cover;
  background-color: black;
  background-image: url('../img/fullpage/eyes.gif');
}

#fullpage {
  margin-top: 0px;
} /*!DJA*/

h1 {
  letter-spacing: 5px;
  font-family: "Oswald";
  color: #c80813;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.88);
}

h1.text-slide {
  font-size: 25px;
}

h2 {
  letter-spacing: 3px;
  font-family: "Droid Serif";
  color: white;
  padding-top: 10px;
  font-style: italic;
  font-size: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.88);
}

h3 {
  font-family: "Oswald";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h3.takeaction {
  color: black;
  font-size: 20px;
  padding-bottom: 5px;
}

#takeactionpage .title-wrapper {
  width: 100%;
}

h3.small-header {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.latest-project-button {
  margin-bottom: 10px;
  font-size: 10px;
}

.take-action-section p {
  font-size: 13px;
}

.title-box {
  width: 60%;
  margin: 0 auto;
  background: rgba(45, 45, 45, 0.63);
  padding: 15px;
  outline: 1px solid white;
}

@-webkit-keyframes upDownMain {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  20% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  30% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }

  40% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  50% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }

  60% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  70% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes upDownMain {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  20% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  30% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }

  40% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  50% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }

  60% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  70% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@-webkit-keyframes upDownUp {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  80% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  85% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }

  90% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  95% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes upDownUp {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  80% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  85% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }

  90% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  95% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

body .panel-arrow-down {
  width: 88px;
  height: 28px;
  position: fixed;
  bottom: 6%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-image: url(../img/slide-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 99999;
  cursor: pointer;
}

body .panel-arrow-up {
  width: 88px;
  height: 28px;
  position: fixed;
  top: 6%;
  visibility: hidden;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-image: url(../img/slide-arrow-up.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 99999;
  /*-webkit-animation: upDownUp 6s ease 3s infinite;
  animation: upDownUp 6s ease 3s infinite;*/
  cursor: pointer;
}

a,
a:hover {
  color: #dc5f66;
}

.top-header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.53);
  z-index: 8;
  top: 0;
  height: 35px;
}

.take-action-button {
  cursor: pointer;
  position: absolute;
  font-family: Oswald;
  right: 10%;
  height: 35px;
  font-size: 20px;
  top: -26px;
  background-color: red;
  color: white;
}

.take-action-text {
  height: 35px;
  padding: 3px;
}

/*
  Stills
*/

.character-pastor-still {
  background-image: url(../img/character_freetown_mobile.jpg);
}

.character-general-still {
  background-image: url(../img/character_general_mobile.jpg);
}

/*
  /Stills
*/

/*
  Video
*/

.mobile-title {
  position: absolute;
  top: 19%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  text-align: center;
  z-index: 4;
  color: #a70404;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.88);
}

.watch-video {
  cursor: pointer;
}

.video-pane__video-close {
  position: absolute;
  color: #fff;
  fill: #fff;
  top: 5em;
  right: 3em;
  z-index: 11;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.video-pane__video-close button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: 0 0;
  outline: 0;
}

.video-pane__video-close svg {
  width: 40px;
  height: 40px;
}

.coverVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3;
}

body .video-pane__background-still {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

body .video-pane__container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  /*opacity: 0;*/
}

.blurb {
  color: #fff;
  width: 50%;
  margin: 40px auto;
  font-family: FreightSans-Book;
  font-size: 20px;
  max-width: 480px;
  line-height: 30px;
}

html,
body,
.container {
  height: 110%;
}
.container {
  display: table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
}

.row {
  height: 100%;
  display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.character-container {
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  z-index: 3;
}

.character-container h3 {
  color: rgba(255, 255, 255);
  top: 10%;
  position: absolute;
  right: 10%;
  font-size: 25px;
  display: none;
}

.character-container h4.mobile {
  top: 13%;
  position: absolute;
  right: 10%;
  font-size: 25px;
}

.character-container h4 {
  color: white;
}

.character-container.active h3 {
  color: rgba(204, 0, 0, 0.7);
  display: block;
}

.title-wrapper {
  z-index: 100;
  color: white;
  position: relative;
  margin: 0 auto;
  margin-top: -20%;
  text-align: center;
  padding: 10px; /*
  background-color: rgba(0, 0, 0, 0.51);
  border-top: 1px solid white;
  border-bottom: 1px solid white;*/
}

.addthis_inline_share_toolbox {
  position: absolute;
  top: 8px;
  left: 15%;
}

.addthis_inline_share_toolbox {
  position: relative;
  display: inline-block;
}

.logo-img {
  max-width: 40px;
  max-height: 40px;
  margin: 10px;
}

.fireriver_logo {
  position: absolute;
  top: 2px;
  left: 1%;
  max-height: 90%;
}

.show {
  visibility: visible !important;
}

.hide {
  visibility: hidden;
}

.video-pane__play-wrap {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125em;
  letter-spacing: .5em;
  opacity: 1;
  z-index: 10;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding-top: 7px;
}

.video-pane__intro-text-holder {
  position: absolute;
  top: 46%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  text-align: center;
  z-index: 4;
}
.video-pane__play-wrap span.first {
  margin-right: -.5em;
}

.playBtn.intro {
  position: relative;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.33333em;
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  left: auto !important;
}

.hr-red {
  max-width: 198px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 4px solid #ff0000;
}

.hr-black {
  max-width: 100%;
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

/*
  Parallax
*/

.parallax-container {
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scene {
  left: 0px;
  bottom: 0;
  min-height: 460px;
  position: relative;
  overflow: hidden;
}

.background {
  /*background: url(../../../images/background.jpg) no-repeat 50% 100%;*/
  bottom: 0;
  background-size: contain;
  position: absolute;
  background-repeat: repeat 50% 100%;
  width: 110%;
  left: -5%;
  top: 30%;
}

.layer {
  position: absolute;
}
.layer div {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.eis-slide-text-container,
.video-caption,
.character-caption {
  color: white;
  background-color: rgba(0, 0, 0, 0.48);
  border: 1px solid white;
  padding: 10px;
  margin: 0 auto;
  text-align: left;
  width: 70%;
}

.video-caption,
.character-caption {
  margin-top: 50px;
}

.character-caption {
  top: 12%;
  position: absolute;
  right: 10%;
  right: 0%;
  width: 100%;
}

.character-caption {
  display: none;
}

.eis-slide-text-container h3,
.video-caption h3,
.map-caption h3,
.character-caption h3,
.character-caption h4 {
  letter-spacing: 2px;
  font-family: "Oswald";
  font-weight: bold;
  color: white;
  padding-top: 0px;
  margin-top: 0px;
  text-transform: uppercase;
}

.eis-slide-text-container p,
.video-caption p,
.map-caption p {
  font-family: "Droid Serif";
  font-size: 12px;
}

.eis-slide-text-container {
  text-align: center;
  width: 95%;
}

.eis-slide-text-container p {
  font-family: "Droid Serif";
  font-size: 10px;
  line-height: 1.3;
  text-transform: none;
  letter-spacing: 0.1em;
}

.eis-slide-text-container hr,
.video-caption hr,
.video-caption-left hr,
.map-caption hr,
.video-gallery-caption hr,
.character-caption hr,
hr.white {
  max-width: 100%;
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}
