@media all and (orientation: landscape) and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .title-wrapper {
    margin-top: -10%;
  }

  .video-caption {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 65px;
  }

  h1.text-slide {
    font-size: 36px;
  }

  h2 {
    font-size: 27px;
  }

  .character-container h3 {
    font-size: 25px;
    display: block;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .hotspot-container {
    display: block;
  }

  .take-action-button {
    right: 6%;
  }

  .fireriver_logo {
    right: 2%;
  }

  .hotspot {
    width: 45px;
    height: 45px;
  }

  .logo-img {
    max-width: 120px;
    max-height: 120px;
    margin: 20px;
  }

  .gallery-display-wrapper {
    width: 70%;
  }

  .video-gallery-caption {
    top: 70%;
    width: 100%;
  }

  .bounce-down {
    -webkit-animation: upDownMain 4s ease 1s infinite;
    animation: upDownMain 4s ease 1s infinite;
  }

  .btn-collection {
    display: none;
  }

  .video-caption {
    color: white;
    background-color: rgba(0, 0, 0, 0.48);
    border: 1px solid white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: 100;
    width: 30%;
  }

  .addthis_inline_share_toolbox {
    left: 6%;
  }

  .video-caption-left {
    color: white;
    background-color: rgba(0, 0, 0, 0.48);
    border: 1px solid white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 100;
    width: 30%;
  }

  .map-caption {
    color: white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    position: absolute;
    right: 15%;
    top: 17%;
    z-index: 100;
    width: 20%;
  }

  .character-caption {
    top: 46%;
    font-size: 14px;
    right: 10%;
    width: 70%;
  }

  .character-caption p {
    font-size: 15px;
  }

  .louisiana-map-caption.map-caption {
    right: 21%;
    width: 24%;
  }

  .video-caption p {
    font-family: "Droid Serif";
    font-size: 15px;
  }

  .bayou-timeline {
    width: 6%;
  }
}
