.gallery-display-wrapper {
  top: 10%;
  position: relative;
  height: 70%;
  width: 100%;
  background-color: black;
  background-size: contain;
  background-image: url('./../img/maps/pipeline_background.png');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

#louisiana-gallery {
  background-image: url('./../img/maps/louisiana_background.png');
}

.gallery-slide {
  background-color: black !important;
}

.video-gallery-caption {
  z-index: 9999;
  position: absolute;
  color: white;
  top: 65%;
  font-size: 10px;
  width: 70%;
  right: 14%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-collection {
  z-index: 9999;
  background-color: black;
  position: absolute;
  width: 100%;
  top: 1px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 5px;
}

.hotspot-container {
}
