.gallery-display-wrapper {
  top: 10%;
  position: relative;
  height: 70%;
  width: 100%;
  background-color: black;
  background-size: contain;
  background-image: url('./../img/usa_line.png');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

#louisiana-gallery {
  background-image: url('./../img/louisianabackground.png');
}

.gallery-slide {
  background-color: black !important;
}

.video-gallery-caption {
  height: 20px;
}

.video-gallery-caption {
  z-index: 9999;
  position: absolute;
  top: 82%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.btn-collection {
  z-index: 9999;
  background-color: black;
  position: absolute;
  width: 100%;
  top: 1px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 5px;
}
