@media only screen and (min-width: 768px) {
  .desktop {
    visibility: visible;
  }

  .hotspot-container {
    display: block;
  }

  .gallery-display-wrapper {
    width: 70%;
  }

  .btn-collection {
    display: none;
  }

  .video-caption {
    color: white;
    background-color: rgba(0, 0, 0, 0.48);
    border: 1px solid white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: 100;
    width: 30%;
  }

  .map-caption {
    color: white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    position: absolute;
    right: 15%;
    top: 17%;
    z-index: 100;
    width: 20%;
  }

  .video-caption p {
    font-family: "Droid Serif";
    font-size: 15px;
  }
}
